<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>WELCOME</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../spring-core.css"
          th:href="@{../static/css/spring-core.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</head>
<body>
<div class="container">

    <div th:fragment="layoutHeader">
        <nav class="navbar navbar-default ">

            <div style="position:absolute; top:5px; right:250px" ><span th:text="#{select.language}"></span>:
                <select id="locales">
                    <option></option>
                    <option th:value="en" th:text="#{english}" ></option>
                    <option th:value="pl" th:text="#{polish}" ></option>
                    <option th:value="es" th:text="#{spanish}"></option>
                </select>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div style="margin: 20px">
                    <h2 th:text="#{admin.panel}"></h2>
                </div>
                <div style="position:absolute; top:5px; right:10px">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-primary" th:text="#{user.logout}">Logout from Admin area</button>
                        <button type="submit" class="btn btn-default" th:text="#{user.logout}">Logout from Admin area</button>
                    </form>
                </div>
                <div style="position:absolute; top:45px; right:10px">
                    <span th:text="#{welcome}"></span>, '<span style="color:green;font-weight: bold;" sec:authentication="principal.username">userName</span>'
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <h2 style="color:green">User is Logged In</h2>
                    </div>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div style="margin: 20px">
                    <h2 th:text="#{shop.name}"></h2>
                    <h5 th:text="#{outdoor.shop}"></h5>
                </div>
                <div style="position:absolute; top:5px; right:10px">
                    <form th:action="@{/loginForm}" method="get">
                        <button type="submit" class="btn btn-primary" th:text="#{admin.area}">Login to Admin area</button>
                        <button type="submit" class="btn btn-default" th:text="#{admin.area}">Login to Admin area</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <h2 style="color:red">User is Logged Out</h2>
                    </div>
                </div>
            </div>
        </nav>
        <div class="row"></div>
    </div>

    <li class="list-group-item col-md-4" th:fragment="productdiv" >
        <div>
            <a th:href="@{${'/product/'+product.productId}}">
                <div class="col-md-12" style="color: black">
                    <div th:text="${product.name}">Product name</div><br />
                    <div>
                        <img src="../static/images/burst.shopify.com/shoe1.jpg" width="200" height="200"
                        th:src="@{'/product/' + ${product.productId} + '/image'}" class="center-block"/>
                    </div>
                    <div>
                        <div class="small" style="text-align:right" th:text="${product.price}"></div>
                    </div>
                </div>
            </a>
        </div>
    </li>

    <div  th:fragment="layoutFooter">
        <br /><br /><br /><br />
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">© 2018 - Karol</p>
            </div>
        </div>
    </div >

</div>

</body>
</html>