<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>WELCOME</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link href="../../spring-core.css"
          th:href="@{../static/css/spring-core.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</head>
<body>
<div class="container">

    <div th:replace="fragments/layoutDesign ::layoutHeader">Layout header</div>

    <div th:insert="fragments/layoutDesign  :: breadcrumb">
        <ol class="breadcrumb container" style="width: 100%">
            <li><a href="#" th:href="@{${'/'}}" th:text="#{home}" style="color:black">Home</a></li>
        </ol>
    </div><h4>&nbsp;</h4>
11111111111111111111111111111111
    <h4 style="font-weight: bold" th:text="#{product.categories}"></h4>
    <ul class="list-group">
        <div  th:each="value,iterStat : ${listOfAllProductCategories}">
            <div th:replace="fragments/layoutDesign :: categoryDiv"></div>
        </div>
    </ul>

    <div class="row"></div>
    <h5 style="text-align:center" th:text="#{free.pictures}">Free pictures from: burst.shopify.com</h5>

    <div th:replace="fragments/layoutDesign ::layoutFooter">
        Layout footer
    </div>
    <!--<div style="margin:0; padding:0; height:50px;"></div>-->
    <!--<h4>&nbsp;</h4>-->
</div>

</body>
</html>