<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login Form</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../spring-core.css"
          th:href="@{../static/css/spring-core.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</head>
<body>
<div class="container">

    <div th:replace="fragments/layoutDesign ::layoutHeader" >Layout header</div>

    <div th:insert="fragments/layoutDesign  :: breadcrumb">
        <ol class="breadcrumb container" style="width: 100%">
            <li><a href="#" th:href="@{${'/'}}" th:text="#{home}" style="color:black">Home</a></li>
            <li th:text="#{user.login.form}" style="color:black">Login Form</li>
        </ol>
    </div><h4>&nbsp;</h4>

    <h2 th:text="#{admin.area}+': '+#{user.login.form}">Admin Area Login Form</h2><br />

    <form class="form-horizontal" th:object="${loginForm}" th:action="@{/loginForm}" method="post">

        <p th:if="${loginError}" class="alert alert-danger">Invalid username or password, try again.</p>

        <div class="form-group">
            <label class="col-sm-2 control-label" th:text="#{user.username}+': '">Username:</label>
            <div class="col-sm-5">
                <input type="text" id="username" th:placeholder="admin" name="username" class="form-control" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" th:text="#{user.password}+': '">Password:</label>
            <div class="col-sm-5">
                <input type="text" id="password" th:placeholder="admin" name="password" class="form-control" required="true" />
            </div>
        </div>
        <div class="form-group">
            <div class="row col-sm-3 control-label">
                <button type="submit" class="btn btn-default" th:text="#{user.login}">Submit</button>
                <button type="submit" class="btn btn-primary" th:text="#{user.login}">Submit</button>
            </div>
        </div>
    </form>

    <div th:replace="fragments/layoutDesign ::layoutFooter">
        Layout footer
    </div>

</div>



</body>
</html>