<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Products</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>

<div class="container">
    <div th:replace="fragments/layoutDesign ::layoutAdminHeader"></div>

    <h2 th:text="#{product.table}">Table of products</h2>
    <br />
    <div>
        <table class="table table-striped">
            <tr>
                <th><p th:text="#{product.productId}"></p></th>
                <th><p th:text="#{product.name}"></p></th>
                <th><p th:text="#{product.description}"></p></th>
                <th><p th:text="#{product.price}"></p></th>
                <th><p th:text="#{product.image}"></p></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="value:${listOfAllproducts}">
                <td th:text="${value.productId}"></td>
                <td th:text="${value.name}"></td>
                <td th:text="${value.description}"></td>
                <td th:text="${value.price}"></td>
                <td>
                    <a th:href="@{${'/product/'+value.productId}}">
                        <img src="../static/images/burst.shopify.com/shoe1.jpg" width="50" height="50"
                        th:src="@{'/product/' + ${value.productId} + '/image'}"/>
                    </a>
                </td>
                <td><a th:href="@{${'/product/'+value.productId}}"><p th:text="#{product.view}"></p></a></td>
                <td><a th:href="@{${'/editProduct/'+value.productId}}"><p th:text="#{edit}"></p></a></td>
                <td>
                    <a th:href="@{${'/productDelete/'+value.productId}}">
                      <svg id="icon-delete" fill="red" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </a>
                </td>
            </tr>
        </table>
        <h5 style="text-align:right" th:text="#{free.pictures}">Free pictures from: burst.shopify.com</h5>
    </div>
    <h3><a th:href="@{/productForm}">Add new Product</a></h3>

</div>

<div th:replace="fragments/layoutDesign ::layoutFooter">
    Layout footer
</div>

</body>
</html>